.wrapper {
  display: flex;
  flex-direction: column;
  padding: 72px 124px 0;
  background: white;
  margin-bottom: 72px;
}

.title {
  color: #25324b;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 8px;
}

.subtitle {
  color: #515b6f;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 32px;
}

.block {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  justify-items: center;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
  color: #1f2937;

  svg {
    width: 32px;
    height: 32px;
    color: #4f46e5; // фиолетово-синий
  }

  span {
    max-width: 100px;
    line-height: 1.2;
  }
}
