@import 'variables';
$font-family-karla: 'Karla', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-karla;
}

h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  color: $black;
}

h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

p,
span {
  font-family: $font-family-karla;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: normal;
  color: $black;
}

a,
label,
div,
button {
  font-family: $font-family-karla;
}
