@import 'variables';
$font-family-rubik: 'Rubik', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
}

h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  color: $black-color;
}

h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

a,
label,
div,
button {
  font-family: 'Rubik', sans-serif;
}
