$blue: #2196f3;
$blue-2: #1565c0;
$black: #22303a;
$secondary-black: #394254;
$dark-black: #000000;
$light-gray: #e0e0e0;
$error-color: #ea868f;
$active-dark: #27374c;
$non-active-color: #667085;

$font-family-karla: 'Karla', sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1080px,
  xl: 1401px,
) !default;
