$black-color: #22303a;
$secondary-black-color: #394254;
$dark-black-color: #000000;
$light-gray-color: #e0e0e0;
$error-color: #ea868f;
$active-dark-color: #27374c;
$non-active-color: #667085;
$active-item-color: #edf2fa;
$dark-navy-color: #1d2939;
$white-color: #ffffffff;
$counter-text-color: #344054;
$button-counter-active-bg-color: #1d2939;
$pale-gray-color: #f2f4f7;
$extra-light-gray-color: #f1f1f1;
$warm-light-gray-color: #eae7e7;
$cool-light-color: #fcfcfd;
$soft-gray-blue-color: #e4e7ec;
$off-white-color: #f8f9fa;
$medium-gray-color: #878787;
$font-column-color: #e0e3e9;

$font-family-karla: 'Karla', sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1080px,
  xl: 1401px,
) !default;
