@import 'variables';
@import 'fonts';
@import 'reset';
@import 'mixins/breakpoint';
@import 'typography';

@include media-breakpoint-down(lg) {
  .container {
    max-width: 1080px;
  }
}

@include media-breakpoint-down(md) {
  .container {
    max-width: 768px;
  }
}

@include media-breakpoint-down(sm) {
  .container {
    max-width: 540px;
  }
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}
