@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.createTaskButton {
  background-color: white;
  color: #667085;
  font-size: 16px;
  font-family: Karla, sans-serif;
  font-weight: 600;
  display: flex;
  border: none;
  padding: 10px 15px;
  gap: 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: flex-start;

}

.menuWrapper :hover {
  background: rgba(246, 247, 250, 0.67);

}

.createTaskButton.active {
  color: #1d2939;
  animation: pop 0.3s ease;
}
