.taskBoard {
  display: flex;
  background-color: #f2f4f7;
  flex: 1;
  gap: 63px;
  align-items: flex-start;
  justify-content: center;
  padding-top: 36px;
}

.taskColumns {
  margin-top: 36px;
}

.toDoBlock,
.doingBlock,
.doneBlock {
  text-align: start;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  gap: 32px;
  width: 320px;
}

.toDoText,
.doingText,
.doneText {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.112px;
  color: #667085;
  gap: 32px;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  height: 100%;
  box-sizing: border-box;
  gap: 24px;
}
