.rightSidebar {
  min-width: 376px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.countryBlock {
  background-color: white;
}

.title {
  margin-bottom: 24px;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.list {
  list-style: none;
  margin: 0 0 24px 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: #25324b;
}

.showAll {
  color: #4640de;
  background: none;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  cursor: pointer;
  border: none;

  &:hover {
    text-decoration: underline;
  }
}

.calendarBlock {
}

.divider {
  width: 376px;
  height: 1px;
  background-color: #d6ddeb;
  margin-top: 24px;
}
