@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/reset';
@import 'styles/mixins/breakpoint';
@import 'styles/typography';

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  min-height: 50px;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  line-height: 1.3;
  min-height: 50px;
  height: 50px;
}

.form-floating > .form-select {
  padding-bottom: 0;
  padding-top: 1.1rem;
  line-height: 2;
  min-height: 50px;
  height: 50px;
}

.form-floating > label {
  min-height: 50px !important;
  padding: 14px !important;
}

@include media-breakpoint-down(lg) {
  .container {
    max-width: 1080px;
  }
}

@include media-breakpoint-down(md) {
  .container {
    max-width: 768px;
  }
}

@include media-breakpoint-down(sm) {
  .container {
    max-width: 540px;
  }
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}
