@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/reset';
@import 'styles/mixins/breakpoint';
@import 'styles/typography';

@include media-breakpoint-down(lg) {
  .container {
    max-width: 1080px;
  }
}

@include media-breakpoint-down(md) {
  .container {
    max-width: 768px;
  }
}

@include media-breakpoint-down(sm) {
  .container {
    max-width: 540px;
  }
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}
