@import '../../global/styles/variables';

.homeWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.footer {
  height: 200px;
  width: 1500px;
  background-color: #515b6f;
}
