.home-wrapper {
    display: flex;
    width: 100%;
}

.left-panel {
    width: 320px;
    background-color: white;
    padding: 16px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.task-board {
    flex: 1;
    background-color: #F2F4F7;
    padding: 16px;
    overflow-y: auto;
}


.tasks-button {
    display: flex;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #F2F4F7;
}

.content-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-content-button {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
}

.main-tasks-text {
    /*font-family: 'Karla', sans-serif;*/
    font-size: 16px;
    font-weight: 600;
    color: #1D2939;
}

.button-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background: #1D2939;
}

.counter-text {
    color: white;
    font-family: inter sans-serif;
    font-size: 14px;
    font-weight: 500;
}