.homeWrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.leftPanel {
  width: 300px;
  background-color: white;
  padding: 16px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
