.home-wrapper {
  display: flex;
  width: 100%;
}

.left-panel {
  width: 320px;
  background-color: white;
  padding: 16px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
  display: flex;
  width: 100%;
  background-color: #f2f4f7;
  padding: 80px 40px 40px;
  justify-content: center;
}
