.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  margin: 0 124px;
}

.navItems {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 24px;
}

.navItem {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 500;
  color: #515b6f;
  cursor: pointer;

  transition: color 0.2s ease;

  &:hover {
    color: #4640de;
  }

  &::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #4640de;
    transition: width 0.3s ease;
    bottom: -24px;
  }

  &:hover::after {
    width: 100%;
  }
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logoNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  color: #4640de;
}

.auth {
  width: 331px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #4640de;
  gap: 16px;
}

.auth button {
  color: inherit;
}

.login {
  background-color: transparent;
  color: #4640de;
  border: none;
  padding: 12px 24px;
  font-weight: 600;

  &:hover {
    background-color: #4640de;
    color: white;
  }
}

.active {
  background-color: #4640de !important;
}

.createProfile {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    background-color: #4640de;
    color: white;
  }
}

.divider {
  width: 1px;
  height: 48px;
  background-color: #d6ddeb;
}
