.wrapper {
  display: flex;
  padding: 48px 124px 96px;
  background-color: #f8f8fd;
  justify-content: space-between;
}

.feedbackBlock {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 438px;
  height: 298px;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 110%;
  color: #26a4ff;

  span {
    font-weight: 800;
    color: #25324b;
  }
}

.description {
  margin: 20px 0;
  color: #25324b;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.button {
  width: 209px;
  padding: 13px 28px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  line-height: 140%;
  margin-top: 24px;
  background-color: #4640de;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #4338ca;
  }
}

.feedbackCard {
  display: flex;
  width: 738px;
  margin-right: -64px;
}

.slide {
  display: flex;
  flex-direction: column;
  width: 313px;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(37, 50, 75, 0.15);
  padding: 30px 20px;
  gap: 22px;
}
.paragraph {
}

.aboutMember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
}

.memberInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.name {
  color: #25324b;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.location {
  color: #4640de;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.publicationDate {
  color: #7c8493;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.stars {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}
