@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.menuItemWrapper {
  display: flex;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  /*transition: all 0.5s ease;*/
}

.menuItemWrapper:hover {
  background: rgba(246, 247, 250, 0.67);
}

.menuItemActive {
  background: #edf2fa !important;
  /*transition: all 0.5s ease;*/
  animation: pop 0.3s ease;
}

.contentButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.leftContentButton {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.buttonText {
  font-size: 16px;
  font-weight: 600;
  color: #667085;
  transition: all 0.5s ease;
}

.buttonTextActive {
  color: #1d2939;
  transition: all 0.5s ease;
}

.buttonCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background: #f2f4f7;
  transition: all 0.5s ease;
}

.buttonCounterActive {
  background: #1d2939;
  transition: all 0.5s ease;
}

.counterText {
  color: #344054;
  font-family: inter sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.5s ease;
}

.counterTextActive {
  color: white;
  transition: all 0.5s ease;
}
